In [10]:
import numpy as np
import pandas as pd
import scipy as sp

## 実行に無関係なエラーメッセージを消す
import warnings
warnings.filterwarnings('ignore')

In [2]:
sample_list = [1, 2, 3, 4, 5]
sample_list

[1, 2, 3, 4, 5]

### np.arrayの使用

In [9]:
sample_array = np.array([1, 2, 3, 4, 5])
sample_array

array([1, 2, 3, 4, 5])

### pd.DataFrameの使用

In [14]:
sample_df = pd.DataFrame({
    'col1': sample_array,
    'col2': sample_array * 2,
    'col3': ["A", "B", "C", "D", "E"]
})
sample_df

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

### ファイルデータの読み込み

In [21]:
file_data = pd.read_csv('./data/2-4-1-sample_data.csv')
file_data

   col1 col2
0     1    A
1     2    A
2     3    B
3     4    B
4     5    C
5     6    C

### 1変量のデータ管理

In [3]:
fish_data = np.array([2, 3, 4, 3, 4, 5, 5, 5, 6])
fish_data

array([2, 3, 4, 3, 4, 5, 5, 5, 6])

In [19]:
## 合計
sp.sum(fish_data)
## 平均
sp.mean(fish_data)
## 不偏分散
sp.var(fish_data, ddof=1)
## 不偏標準偏差
sp.std(fish_data, ddof=1)

1.2692955176439846