In [24]:
import pandas as pd
import numpy as np
import scipy as sp
%precision 3

## 実行に無関係なエラーメッセージを消す
import warnings
warnings.filterwarnings('ignore')

### 1. 多変量データを扱う...

In [7]:
fish_multi = pd.read_csv('./data/3-2-1-fish_multi.csv')
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [28]:
group = fish_multi.groupby("species")
group.mean()

         length
species
A           3.0
B           8.0

In [29]:
group.mean()["length"]

species
A    3.0
B    8.0
Name: length, dtype: float64

In [8]:
group.std(ddof=1)

         length
species
A           1.0
B           2.0

In [9]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

### 2. 相関行列の使い方

In [15]:
cov_data = pd.read_csv('./data/3-2-3-cov.csv')
cov_data.head()

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45

In [26]:
x = cov_data["x"]
y = cov_data["y"]

## 相関行列の出力
sp.corrcoef(x, y)

array([[1.   , 0.759],
       [0.759, 1.   ]])